.login{
  position: inherit;
  transform: translateY(50%);
  /* background-image: linear-gradient(
  #df0e62,
   #fac70b); */
  height: 100%;
  width: auto;
}

header:hover{
  color: blue
}

.new-user-form{
  height: auto;
  width: auto;
  border: 10px;
  border-color: solid black;
}

#title-content{
  /* transform: translateY(70%); */
  font-size: 8em;
  /* text-decoration: underline; */
  /* text-decoration-color: #fff; */
  /* text-decoration-style: wavy; */
  text-shadow: 5px 5px #fff;
}


.signup-form{
  float: right;
  transform: translate(20%, 100%);
}

.title{
  transform: translate(20%, 200%);
  display: block;
  float: left;

  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(20%, 200%, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


.title :hover {
  transform: translateY(-7%);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(18%, 200%, 0);
  }

  20%, 80% {
    transform: translate3d(22%, 200%, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(18%, 200%, 0);
  }

  40%, 60% {
    transform: translate3d(22%, 200%, 0);
  }
}

#description{
  font-size: 1em;
  transform: translateY(130%);
}
